<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>

<header>
    <section>
            <h2>{% block header %} {% endblock %}</h2>
            {% include 'layouts/messages.html' %}
    </section>
</header>

   <main>
        {% block content %} {% endblock %}
   </main>

    <script src="static/js/gudlft.js">
        <!-- Javascript Code // -->
    </script>
</body>
</html>