body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #064663;
    color: #ecb365;

    margin-top: 25px;
    margin-bottom: 25px;
    left: 50px;
    top: 50px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}

li {
    list-style-type: none;
}

a {
    color: #dfe0dd;
}

.points_table {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.in_red {
    color: red;
}