body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #064663;
    color: #ecb365;

    margin-top: 25px;
    margin-bottom: 25px;
    left: 50px;
    top: 50px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: #dfe0dd;
}

table {
    display: flex;
    flex-direction: column;
}

table>thead {
    border: solid;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table>thead>tr {
    display: flex;
    justify-content: space-between;
}

table>thead>tr>th {
    display: flex;
    justify-content: space-evenly;
}

table>tbody {
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

table>tbody>tr {
    display: flex;
    justify-content: space-between;
    }

table>tbody>tr>td  {
    display: flex;
    justify-content: center;
}

.in_red {
    color: red;
}

.bold {
    font-weight: bold;
}