{% extends 'layouts/base.html' %}
<head>
    {% block title %} Booking for {{competition['name']}} || GUDLFT{% endblock %}
</head>
<body>

    {% block header %} {{competition['name']}} {% endblock %}
    {% include 'layouts/_nav.html' %}
    {% block content %}
        <p>Remaining places: {{competition['number_of_places']}}</p>
        <p>Your available points: {{club['points']}}</p>
        <form action="/purchase_places" method="post">
            <input type="hidden" name="club_name" value="{{club['name']}}">
            <input type="hidden" name="competition_name" value="{{competition['name']}}">
            <label for="places"></label><input placeholder="How many places?" type="number" name="places" id=""/>
            <p>
                <button type="submit">Book</button>
            </p>
        </form>
    {% endblock %}
</body>
</html>
