{% extends 'layouts/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs points</title>
</head>
<body>

    {% block title %} Public points table by club {% endblock %}
    {% include 'layouts/_nav.html' %}
    {% block content %}

    <ul>
        {% for club in clubs %}
            <li>
                {{ club.name }}: {{ club.points }} points
            </li>
        {% endfor %}
    </ul>

     <table> <!--faire un tableau et le remplir en JS-->
        <thead>
            <tr>
                <th>Club</th>
                <th>Points</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>club 1</td>
                <td>club 2</td>
                <td>club 3</td>
                </tr>
            <tr>
                <td>1 points</td>
                <td>2 points</td>
                <td>3 points</td>
            </tr>
        </tbody>
    </table>

    {% endblock %}
</body>
</html>