{% extends 'layouts/base.html' %}
<html lang="en">
<head>
    {% block title %} GUDLFT Registration {% endblock %}
</head>
<body>
    {% block header %} Welcome to the GUDLFT Registration Portal! {% endblock %}

    {% block content %}
        Please enter your secretary email to continue:

        <form action="show_summary" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id=""/>
            <button type="submit">Enter</button>
        </form>
        <p>Public points table by club</p> <!-- Test ! -->
        <ul>
        {% for club in clubs %}
            <li>
                {{ club.name }}: {{ club.points }} points
            </li>
        {% endfor %}
    </ul>

    <table> <!--faire un tableau et le remplir en JS-->
        <thead>
            <tr>
                <th>Club</th>
                <th>Points</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>club 1</td>
                <td>1 points</td>
            </tr>
            <tr>
                <td>club 2</td>
                <td>2 points</td>
            </tr>
            <tr>
                <td>club 3</td>
                <td>3 points</td>
            </tr>
        </tbody>
    </table>

    {% endblock %}

</body>
</html>