<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GUDLFT Registration</title>
  </head>
  <body>
    <h1>Welcome to the GUDLFT Registration Portal!</h1>
    Please enter your secretary email to continue:
    <form action="show_summary" method="post">
      <label for="email">Email:</label>
      <input type="email" name="email" required id="" />
      <button type="submit">Enter</button>
    </form>
    {% block content %}
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        {{ message }}
      </div>
      {% endfor %} {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
  </body>
</html>
