{% extends 'layouts/base.html' %}
<html lang="en">
<head>
    {% block title %} GUDLFT Registration {% endblock %}
</head>
<body>
    {% block header %} Welcome to the GUDLFT Registration Portal! {% endblock %}

    {% block content %}
        Please enter your secretary email to continue:

        <form action="show_summary" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" id=""/>
            <button type="submit">Enter</button>
        </form>

    <table class="points_table">
        <thead>
            <tr>
                <th>Public points table by club</th>
            </tr>
            <tr>
                <th>Club</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td>{{ club.name }}</td>
                <td>{{ club.points }} points</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>
</html>